@font-face {
  font-family: "Akrobat";
  src: url("../fonts/akrobat.woff2") format("woff2"),
       url("../fonts/akrobat.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Akrobatbold";
  src: url("../fonts/akrobatbold.woff2") format("woff2"),
       url("../fonts/akrobatbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat.woff2") format("woff2"),
       url("../fonts/montserrat.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding-bottom: 30px;
  color: #000000;
  font-family: "Akrobatbold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.btn {
  display: block;
  width: 100%;
  padding: 17px 13px 16px;
  padding-left: 68px;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
}

.container {
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  padding-right: 13px;
  padding-left: 13px;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*  header  */

.header {
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 25px;
  text-transform: uppercase;
}

/*  promo-text  */

.promo-text {
  margin-bottom: 25px;
  font-family: "Montserrat", "Arial", sans-serif;
}

.promo-text__item {
  margin-bottom: 20px;
}

.promo-text p:nth-child(3) {
  margin-bottom: 0;
}

.promo-text p:nth-child(4) {
  margin-top: 0;
}

/*  ads  */

.ads {
  position: relative;
  padding-top: 56.2%;
  margin-bottom: 25px;
}

.ads__promo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*  palette  */

.palette {
  position: relative;
  padding-left: 46px;
  margin-bottom: 20px;
}

.palette__link {
  color: #5e428b;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px dashed #bfb3d1;
}

.palette__link::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 35px;
  height: 38px;
  background-image: url("../img/nail-icon.svg");
}

/*  social  */

.feedback__btn {
  margin-bottom: 10px;
}

.feedback__btn--vk {
  background-color: #4975a8;
}

.feedback__btn--wa {
  background-color: #00a100;
}

.feedback__btn--vk,
.feedback__btn--wa {
  position: relative;
}

.feedback__btn--vk::before,
.feedback__btn--wa::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.feedback__btn--vk::before {
  background-image: url("../img/vk-icon.svg");
  width: 32px;
  height: 18px;
  left: 20px;
}

.feedback__btn--wa::before {
  background-image: url("../img/wa-icon.png");
  width: 31px;
  height: 31px;
  left: 20px;
}

/*  popup  */

.popup {
  display: none;
  max-width: 600px;
  width: 95%;
  background-color: transparent;
}

.owl-nav {
  position: absolute;
  width: 100%;
  text-align: right;
}

.owl-prev,
.owl-next {
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #49454f;
  background-repeat: no-repeat;
  background-position: center;
}

.owl-prev {
  background-image: url("../img/prev-icon.svg");
}

.owl-next {
  background-image: url("../img/next-icon.svg");
}

.current-count,
.size-count {
  color: #ffffff;
}

.current-count {
  font-size: 24px;
}

.size-count {
  font-size: 12px;
}

.slider-count {
  color: #ffffff;
  padding-left: 12px;
  margin-bottom: 3rem;
}

.popup .fancybox-close-small:after{
  color: #ffffff;
}
